<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>JukeBox Home</title>
    <script src="https://unpkg.com/htmx.org@2.0.3"
        integrity="sha384-0895/pl2MU10Hqc6jd4RvrthNlDiE9U1tWmX7WRESftEDRosgxNsQG/Ze9YMRzHq"
        crossorigin="anonymous"></script>
    <script src="/scripts/index.js"></script>
</head>

<body>
    <noscript><br>You need JavaSciprt for this website<br></noscript>

    <fieldset>
        <legend>Current room</legend>
        <div id="current_room">
        </div>
    </fieldset>
    <br>

    <form hx-post="./join" hx-target="#current_room">
        <fieldset>
            <legend>Join room</legend>
            <div>
                <label for="join_username">user name: </label>
                <input name="join_username" id="join_username" placeholder="(optional)" /><br>
            </div><br>
            <div>
                <label for="join_room_id">room id: </label>
                <input name="join_room_id" placeholder="Room id..." /><br>
            </div>
        </fieldset>
        <button type="submit">join</button>
    </form>
    <br>

    <form hx-post="./create-room" hx-target="#current_room">
        <fieldset>
            <legend>Config new room</legend>
            <div>
                <label for="cfg_username">user name: </label>
                <input name="cfg_username" id="cfg_username" placeholder="(optional)" />
            </div><br>
            <div>
                <label for="cfg_pin">Custom pin</label>
                <input type="text" name="cfg_pin" id="cfg_pin" placeholder="(optional)" />
            </div><br>
            <div>
                <input type="checkbox" name="cfg_private" id="cfg_private" />
                <label for="cfg_private">private room</label>
            </div>
        </fieldset>
        <button type="submit">create</button>
    </form>

    <hr>
    <fieldset>
        <legend>public rooms</legend>
        {{ template "public_rooms_display" . }}
    </fieldset>
</body>

</html>
