{{ define "form_user_profile_create" }}
<div id=swap_action>
    <form name="user_profile" onsubmit="requestNewRoom(event, this)">
        <fieldset>
            <legend>Your Profile</legend>
            <div>
                <label>User name: </label>
                <input name="cfg_username" id="cfg_username" placeholder="(optional)" />
            </div><br>
            <button type="submit">Continue</button>
        </fieldset>
    </form>
</div>
{{ end }}

{{ define "form_user_profile_join" }}
<div id=swap_action>
    <form name="user_profile" onsubmit="requestJoinRoom(event, this)">
        <fieldset>
            <legend>Your Profile</legend>
            <div>
                <label>User name: </label>
                <input name="cfg_username" id="cfg_username" placeholder="(optional)" />
            </div><br>
            <button type="submit">Continue</button>
        </fieldset>
    </form>
</div>
{{ end }}
