{{ define "form_create_user_profile" }}
<div id=swap_action hx-on::before-swap="hxUpgradeWS()">
    <form hx-post="./api/create" hx-vals="js:{user_id: hxGetUserID()}" hx-on::before-swap="hxUpgradeWS()"
        hx-target="#swap_action" hx-boost="true" hx-history="false" hx-push-url="./lobby">
        <fieldset>
            <legend>Your Profile</legend>
            <div>
                <label>User name: </label>
                <input name="cfg_username" id="cfg_username" placeholder="(optional)" />
            </div><br>
            <button type="submit">Continue</button>
        </fieldset>
    </form>
</div>
{{ end }}

{{ define "form_create_user_profile2" }}
<div id=swap_action>
    <form method="POST" action="./api/create" onsubmit="submitUserProfile(event, this)">
        <fieldset>
            <legend>Your Profile</legend>
            <div>
                <label>User name: </label>
                <input name="cfg_username" id="cfg_username" placeholder="(optional)" />
            </div><br>
            <button type="submit">Continue</button>
        </fieldset>
    </form>
</div>
{{ end }}

{{ define "form_join_user_profile" }}
<!--@TODO join with user name-->
<form hx-post="./api/join" hx-vals="js:{user_id: hxGetUserID()}" hx-target="#div_swap" hx-boost="true"
    hx-history="false" hx-push-url="./lobby">
    <fieldset>
        <legend>Your Profile</legend>
        <div>
            <label>User name: </label>
            <input name="cfg_username" id="cfg_username" placeholder="(optional)" />
        </div><br>
        <button type="submit">Join</button>
    </fieldset>
</form>
{{ end }}
