{{ define "row_room_user_list" }}
<li id=uid{{.ID}}>user name: {{ .Name }}<br>id: {{ .ID }}</li>
{{ end }}

{{ define "room_user_list" }}
<ul id="room_user_list" class="current_user_list">
    {{ range $client, $_ := .UserList }}
    {{ with $client }}
    {{ template "row_room_user_list" . }}
    {{ end }}
    {{ end }}
</ul>
{{ end }}

{{ define "room_status" }}
<div>
    <p style="display:inline">user name:
    <div style="display:inline" id="username"></div>
    </p>
    <p style="display:inline">roomd id:
    <div style="display:inline" id="room_id">{{ .RoomID }}</div>
    <button style="display:inline" onclick="copyLink()">Copy</button></p>
    <p style="display:inline">host:
    <div style="display:inline" id="room_host">{{ .Host }}</div>
    </p>
    <p style="display:inline">capacity:
    <div style="display:inline" id="room_capacity">{{ .Capacity }}</div>
    </p>
    {{ template "room_user_list" . }}
</div>
{{ end }}
