{{ define "row_room_user_list" }}
<li>user name: {{ .UserName }}</li>
{{ end }}

{{ define "room_user_list" }}
<ul id="room_user_list">
    {{ range $idx, $item := .UserList }}
    {{ with $item }}
    {{ template "room_user_list" . }}
    {{ end }}
    {{ end }}
</ul>
{{ end }}

{{ define "room_status" }}
<div>
    <p id="username">user name: {{ .Username }}</p>
    <p id="room_id">roomd id: {{ .RoomID }}</p>
    <p id="room_host">host: {{ .Host }}</p>
    <p id="room_capacity">capacity: {{ .Capacity }}</p>
    {{ template "room_user_list" . }}
</div>
{{ end }}
